# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
env/

# Database & generated artifacts
*.db
*.sqlite
*.sqlite3
embeddings/
outputs/
backend/cache/
.pytest_cache/
*.json
# Node
node_modules/
frontend/dist/

# OS / editor
.DS_Store
.idea/
.vscode/*
!.vscode/extensions.json

# Env
.env
.env.local
